form {
  margin: auto;
}



.submit-button {
  background-color: rgb(111, 122, 114);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkred;
}